<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wapp.factsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ToDoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FactsApp">
        <activity android:name=".activities.loginanonymously.LoginAnonymously"></activity>
        <activity
            android:name=".activities.deleteaccount.DeleteAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.dailyfact.DailyFact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.init.InitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.loginwithgoogle.LoginWithGoogle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.loginwithfacebook.LoginWithFacebook"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.loginwithemail.LoginWithEmail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.createwithemail.CreateUserWithEmail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.resetpassword.ResetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signin.SignIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flow.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FactsApp.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9789704780798889~8320934805" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:exported="false"
            tools:node="remove" />
    </application>

</manifest>